*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'poppins' sans-serif;
}
body{
    overflow: hidden;
}
.backgraund{
    background: linear-gradient(rgba(0, 0, 0, 0.502),rgba(0, 0, 0, 0.502));
    background-image: url(images/pexels-annushka-ahuja-8114504.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}
.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}
.cabeçalho-link a{
  color: white;
  font-size: 15px;
}
.cabeçalho-link a:hover{
    color:#fbd090;
}
.logo{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 2px solid #fbd090;
    color: #fbd090;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    cursor: pointer;
}
button{
    color: #fbd090;
    background: transparent;
    border: solid 2px #fbd090;
    padding: 5px;
    border-radius: 2vi;
    font-size: 15px;
    width: 150px;
}
button:hover{
    background-color: #fbd090;
    color: white;
    transition: 0.5s;
}
.container-text{
    padding: 150px 0 0 130px ;
}
.text h3{
    color: white;
    font-size: 15px;
}
.text h1{
    color: white;
    margin-top: 10px;
}
.text span{
    color:#fbd090 ;
}
.text p{
    color: white;
    font-size: 15px;
    font-weight: 300;
    margin-block: 10px;
}
.redes-sociais a{
    color: #fbd090;
    padding: 8px;
    margin-top: 10px;
}
.btn{
    margin-top: 20px;
}